.register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
}

.registerWrapper {
  display: flex;
  width: 70%;
  height: 70%;
}

.registerLeft, 
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerLogo {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 800;
  color: #41428b;
}

.registerDesc {
  font-size: 24px;
}

.registerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 7px 13px -10px #65789f;
}

.registerMsg {
  text-align: center;
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 10px;
}

.registerInput {
  margin-bottom: 10px;
  padding-left: 20px;
  height: 40px;
  border: 1px solid gray;
  border-radius:  10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  height: 40px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background-color: #41428b;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.registerBox .loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 40px;
  align-self: center;
  border: none;
  border-radius: 10px;
  background-color: #3c8b50;
  color: white;
  font-size: smaller;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
