.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.eventAnnounce {
  display: flex;
  align-items: center;
}

.starImg {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.eventAnnounceTitle {
  font-size: 15px;
  font-weight: 300;
  flex: 1;
}

.eventImg {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.rightbarTitle {
  margin-bottom: 20px;
}

.promotionAdvertisement {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 10px;
}

.promotionContainer {
  margin-bottom: 15px;
}

.promotionImg {
  width: 100%;
  border-radius: 10px;
}

.promotionName {
  font-size: small;
  color: #434343;
}

.userInfoList, .followingUsersList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

.userInfoList li {
  width: 100%;
}

.userInfoKey {
  margin-right: 5px;
  font-weight: 550;
  color: #555;
}

.followingUsersList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  min-width: 60px;
  width: 33%;
  padding: 5px;
  cursor: pointer;
}

.followingUserImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
